::-moz-selection { background: skyblue; }
::selection { background: skyblue; }


body {
		padding: 0; margin: 0;


		font-family: 'Open Sans', sans-serif;

		/* border: #6547e8 solid 10px; */
}

a {
		color: #6547e8;
		text-decoration: none;
		font-weight: bold;
}
a:hover {
		text-decoration: underline;
		background-color: #d9f44280;
}

h1 {
		padding: 0; margin: 0;
		font-weight: bold;
		font-size: 40px;
		color: black;
		text-decoration: none;
}

h2 {
		padding: 0; margin: 0;
		font-weight: bold;
		font-size: 30px;
}

#header {
		border: #6547e8 solid 10px;
		height: 50px;
}

#contents {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
}

#contents > div {
		flex: auto;
		border: black 1px solid;
		border-left: none;
		border-top: none;
		padding: 10px;
}

#contents > div > img {
		width: 100%;
		height: 100%;
}

#contents > div.light
{
		background-color: #f5f4f9;
}

#contents > div.dark
{
		background-color: #bdbdbf;
}

#menu {
		position: absolute;
		right: 1em;
		top: 1.3em;
		display: flex;
}

#menu a {
		color: #6547e8;
		font-weight: bold;
		font-size: 20px;
		vertical-align: middle;
		margin: auto .8em;
		text-decoration: none;
}

details {
		background-color: white;
}

details summary {
		color: transparent;
}
details summary span {
		color: #000;
}

h3 {
		font-size: 30px;
}

@media all and (max-width: 610px) {
		.mobile {
				display: block;
		}
		.pc {
				display: none !important;
		}
		.resp {
				width: 90%;
				marigin: auto;
		}
		#contents > div {
				width: 1vh;
		}
}
@media all and (min-width: 610px) {
		.mobile {
				display: none !important;
		}
		.pc {
				display: block;
		}
		.resp {
				width: 50%;
				marigin: auto;
		}
}
